
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    #chat3 .form-control {
        border-color: transparent;
    }

    #chat3 .form-control:focus {
        border-color: transparent;
        box-shadow: inset 0px 0px 0px 1px transparent;
    }

    .badge-dot {
        border-radius: 50%;
        height: 10px;
        width: 10px;
        margin-left: 2.9rem;
        margin-top: -.75rem;
    }

    a {
        text-decoration: none !important;
        cursor: pointer;
    }
    .color-primary {
        color: rgb(202,168,113) !important;
    }

    .bg-default, .btn-default {
        background-color: rgb(202,168,113) !important;
    }
    .active {
        background-color: #f5f6f7 !important;
    }
</style>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<div class="d-flex justify-content-between">
    <h2>Message</h2>
</div>

<div class="card" id="chat3" style="border-radius: 15px;">
    <div class="card-body">

        <div class="row">
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                <div class="p-3">

                    <div class="input-group rounded mb-3">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                                aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>

                    <div style="position: relative; height: 400px;overflow-x: auto;">
                        <ul class="list-unstyled mb-0" id="chat-list">
                                       
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-md-6 col-lg-7 col-xl-8">

                <div class="pt-3 pe-3 chat-body" style="position: relative; height: 400px; overflow-y: auto;">

                                
                </div>

                <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                    <img src="@Url.Content("~/Public/Assets/admin.png")"
                            alt="avatar 3" style="width: 40px; height: 100%;">
                    <input type="text" class="form-control form-control-lg" id="text-message"
                            placeholder="Type message">
                    <i class="ms-3 fas fa-paper-plane color-primary" id="send-message" style="cursor: pointer;"></i>
                </div>

            </div>
        </div>

    </div>
</div>


<script src="~/Areas/Admin/Assets/ChatAdmin.js"></script>