
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#navigation-button {
    cursor: pointer;
    font-size: 2em;
}

@keyframes slide {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes slide_reverse {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

#navigation-open-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.9;
    z-index: 100;
}

.anim-appear {
    animation: slide 0.3s ease-in-out;
}

.d-none-anim {
    animation: slide_reverse 0.3s ease-in-out;
}

#navigation-open-div-close {
    color: white;
    font-size: 3em;
    margin-left: 22px;
    cursor: pointer;
}

.navigation-open-div-item {
    text-align: center;
}

.cart-trash {
    border-radius: 2.5px;
    font-size: 1.2em;
    opacity: 0.75;
    transition: 0.3s;
    cursor: pointer;
}

    .cart-trash:hover {
        opacity: 1;
    }

.display-card {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    display: flex;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    transition: 0.5s;
}

.display-card-content {
    max-width: 1120px;
}

.cart-item-exit {
    color: orangered;
    font-size: 1.6em;
    transition: 0.3s;
    cursor: pointer;
}

    .cart-item-exit:hover {
        opacity: 0.75;
    }

.btn-style {
    padding: 8px;
    margin: 6px;
    margin-left: 0px;
    border: 3px solid black;
    cursor: pointer;
    transition: 0.5s;
    color: black;
    text-decoration: none;
    font-size: 0.9em;
}

    .btn-style:hover {
        border: 3px solid transparent;
        background: red;
        color: white;
        text-decoration: none;
    }

.navbar.navbar-expand-sm {
    position: fixed;
    padding-bottom: 0;
    padding-top: 0;
    z-index: 1000;
    height: 85px;
}

